body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, strong, span, form, input, textarea, img, em, i, b {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

em {
  font-style: normal; }

img {
  border: none; }

input, textarea {
  border: none; }

body {
  font-size: 12px;
  font-family: Arial;
  color: white;
  width: 100%;
  background: #056477; }

.clearFix {
  zoom: 1; }
  .clearFix:after {
    content: " ";
    clear: both;
    display: block; }

.pull-left, #header .columnBar, #header ul li, .columnBar {
  float: left; }

.pull-right, #content .banner_desp .banner-btn {
  float: right; }

.absolute, #header .volumeBar .volumeBtn, #header .columnBar_list, #header .columnBar, #header ul li span, .archive .scrollBar .scrollBtn, .do .scrollBar .scrollBtn, .principles .scrollBar .scrollBtn, .volumeBar .volumeBtn, .columnBar_list, .columnBar {
  position: absolute; }

.relative, #header .music_play .play-column, #header .volumeBar, #header ul li, .archive .scrollBar, .do .scrollBar, .principles .scrollBar, .volumeBar {
  position: relative; }

.block, #content .banner_desp h3 strong, #content .banner_desp span, .archive .archive_list li a, .we .ipsum_list ul li a, .do ul li a, .workteam .workteam_info a, .principles ul li a {
  display: block; }

.inline-block, #header .top .today, #header .nav .logo, #header .music_play span, #header .start, #header .stop, #header .end, #header ul li a, .archive .scrollBar, .do .scrollBar, .principles .scrollBar, .archive .scrollBar .scrollBtn, .do .scrollBar .scrollBtn, .principles .scrollBar .scrollBtn, .end {
  display: inline-block; }

.outBorder {
  border: 1px solid #015060; }

.insetBorder {
  border: 1px solid #117a8f; }

.boxBorder {
  border: 1px solid #0f7e95; }

.color, #header ul li a {
  color: #2395ac; }

.btn-default {
  display: inline-block; }

.btn-block {
  display: block; }

.caret {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #82b0b9;
  border-bottom: none; }

.we .we_title, .archive .archive_title, .do .do_title, .workteam .workteam_title, .principles .principles_title {
  font-size: 10px;
  line-height: 34px;
  text-indent: 46px;
  font-weight: normal; }

.wrap {
  width: 722px;
  background: #056477;
  margin: 0 auto;
  padding: 0 22px; }

#header {
  border-top: 1px solid #dddddd;
  margin-bottom: 4px; }
  #header .top {
    height: 22px;
    margin-top: 39px;
    border-top: 1px solid #117a8f;
    border-bottom: 1px solid #015060; }
    #header .top .today {
      width: 509px;
      line-height: 22px;
      font-size: 10px;
      color: #2395ac;
      border-right: 1px solid #015060; }
    #header .top .music_play {
      width: 212px; }
  #header .nav {
    height: 63px;
    overflow: hidden;
    border-top: 1px solid #117a8f;
    border-bottom: 1px solid #21a1b7; }
    #header .nav ul {
      width: 436px;
      height: 28px;
      margin-top: 21px;
      background: #014a59; }
    #header .nav h1 {
      width: 286px;
      height: 26px;
      margin-top: 19px;
      line-height: 26px; }
    #header .nav .logo {
      line-height: 26px;
      text-indent: 43px;
      font-size: 24px;
      color: #56daf5;
      background: url(../images/logo.png) no-repeat 5px 0; }
  #header .music_play span {
    line-height: 22px; }
  #header .music_play .play-btn {
    width: 68px;
    height: 22px;
    border-left: 1px solid #117a8f;
    border-right: 1px solid #015060; }
  #header .music_play .play-volume {
    width: 80px;
    height: 22px;
    border-left: 1px solid #117a8f;
    border-right: 1px solid #015060; }
  #header .music_play .play-column {
    width: 59px;
    height: 22px;
    border-left: 1px solid #117a8f; }
  #header .play-btn {
    line-height: 22px; }
  #header .start {
    width: 4px;
    height: 7px;
    margin: 8px 0 0 18px;
    background: url(../images/play.gif) no-repeat 0 -14px; }
  #header .stop {
    width: 8px;
    height: 7px;
    margin: 8px 0 0 8px;
    background: url(../images/play.gif) no-repeat 0 -7px; }
  #header .end {
    width: 8px;
    height: 7px;
    margin: 8px 0 0 6px;
    background: url(../images/play.gif) no-repeat 0 0px; }
  #header .volumeBar {
    width: 60px;
    height: 1px;
    background: #0c9caa;
    top: 10px;
    left: 10px; }
    #header .volumeBar .volumeBtn {
      width: 4px;
      height: 11px;
      top: -5px;
      left: 28px;
      background: #0c9caa; }
  #header .columnBar_list {
    left: 14px;
    bottom: 4px; }
  #header .columnBar {
    width: 3px;
    background: #0c9caa;
    bottom: 0; }
    #header .columnBar:nth-of-type(1) {
      height: 5px;
      left: 0; }
    #header .columnBar:nth-of-type(2) {
      height: 9px;
      left: 4px; }
    #header .columnBar:nth-of-type(3) {
      height: 9px;
      left: 8px; }
    #header .columnBar:nth-of-type(4) {
      height: 3px;
      left: 12px; }
    #header .columnBar:nth-of-type(5) {
      height: 7px;
      left: 16px; }
    #header .columnBar:nth-of-type(6) {
      height: 11px;
      left: 20px; }
    #header .columnBar:nth-of-type(7) {
      height: 6px;
      left: 24px; }
  #header ul li {
    margin: 1px; }
    #header ul li a {
      width: 105px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      color: white;
      font-size: 8px;
      border: 1px solid #0e7d93; }
    #header ul li span {
      left: 14px;
      top: 11px; }
  #header .logo span {
    font-size: 16px;
    color: white; }
  #header .logo em {
    font-size: 24px; }

#content {
  padding-bottom: 13px;
  margin-bottom: 3px; }
  #content .banner {
    height: 229px;
    background: url(../images/banner_bg.gif) no-repeat -19px 0;
    border-bottom: 1px solid #21a1b7;
    margin-bottom: 3px; }
  #content .banner_desp {
    width: 335px;
    height: 229px;
    text-align: right;
    padding-right: 26px;
    background: -webkit-linear-gradient(left, none, #64b8ca);
    background: -moz-linear-gradient(left, none, #64b8ca);
    background: -ms-linear-gradient(left, none, #64b8ca);
    background: -o-linear-gradient(left, none, #64b8ca);
    background: -linear-gradient(left, none, #64b8ca); }
    #content .banner_desp h3 {
      font-size: 18px;
      color: white;
      margin-top: 40px;
      font-weight: normal; }
      #content .banner_desp h3 strong {
        font-weight: normal; }
    #content .banner_desp .line {
      height: 3px;
      width: 335px;
      margin-top: 4px;
      margin-bottom: 14px;
      background: -webkit-linear-gradient(left, #baebf4, #d2ebf0);
      background: -moz-linear-gradient(left, #baebf4, #d2ebf0);
      background: -ms-linear-gradient(left, #baebf4, #d2ebf0);
      background: -o-linear-gradient(left, #baebf4, #d2ebf0);
      background: -linear-gradient(left, #baebf4, #d2ebf0); }
    #content .banner_desp span {
      background: url(../images/banner_icon.gif) no-repeat 324px -17px;
      line-height: 15px;
      height: 15px;
      padding-right: 17px;
      color: #025e71; }
    #content .banner_desp .banner-btn {
      width: 79px;
      height: 17px;
      font-size: 10px;
      text-align: center;
      line-height: 17px;
      color: #deffff;
      margin-top: 12px;
      background: url(../images/banner_icon.gif) no-repeat 0 0; }

.bottom-box {
  height: 13px;
  border: 1px solid #158da5;
  border-top: none;
  border-shadow: inset 0 0 1px #0f6678; }

#footer {
  border-top: 1px solid #21a1b7;
  padding-bottom: 42px; }
  #footer .address {
    height: 30px;
    margin-top: 3px;
    line-height: 30px;
    text-align: center;
    background: #2190a2;
    font-size: 10px;
    color: #bddee3; }
    #footer .address a {
      color: #bddee3; }

.archive .scrollBar, .do .scrollBar, .principles .scrollBar {
  width: 10px;
  margin-top: 8px;
  border-left: 1px solid #095d6d;
  border-right: 1px solid #095d6d;
  border-top: 1px solid #108096;
  border-bottom: 1px solid #108096; }

.archive .scrollBar .scrollBtn, .do .scrollBar .scrollBtn, .principles .scrollBar .scrollBtn {
  width: 10px;
  left: 0px;
  top: 0px;
  background: #075767; }

.archive .archive_list {
  width: 220px;
  margin-top: 8px; }
  .archive .archive_list li {
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 20px 11px 20px; }
    .archive .archive_list li a {
      height: 13px;
      width: 180px;
      font-size: 11px;
      line-height: 13px;
      color: #b8d7dd;
      padding-left: 14px;
      word-break: break-all;
      background: url(../images/list_icon.gif) no-repeat 2px center; }

#bgMusic {
  display: none; }

.end {
  width: 8px;
  height: 7px;
  margin: 8px 0 0 6px;
  background: url(../images/play.gif) no-repeat 0 0px; }

.volumeBar {
  width: 60px;
  height: 1px;
  background: #0c9caa;
  top: 10px;
  left: 10px; }
  .volumeBar .volumeBtn {
    width: 4px;
    height: 11px;
    top: -5px;
    left: 28px;
    cursor: pointer;
    background: #0c9caa; }

.columnBar_list {
  left: 14px;
  bottom: 4px; }

.columnBar {
  width: 3px;
  background: #0c9caa;
  bottom: 0; }
  .columnBar:nth-of-type(1) {
    height: 5px;
    left: 0; }
  .columnBar:nth-of-type(2) {
    height: 9px;
    left: 4px; }
  .columnBar:nth-of-type(3) {
    height: 9px;
    left: 8px; }
  .columnBar:nth-of-type(4) {
    height: 3px;
    left: 12px; }
  .columnBar:nth-of-type(5) {
    height: 7px;
    left: 16px; }
  .columnBar:nth-of-type(6) {
    height: 11px;
    left: 20px; }
  .columnBar:nth-of-type(7) {
    height: 6px;
    left: 24px; }

.we {
  margin-bottom: 2px;
  width: 476px;
  height: auto;
  border: 1px solid #0f7e95; }
  .we .we_title {
    background: url(../images/home_icon.gif) no-repeat 20px 0px;
    width: 475px;
    height: 34px;
    border-bottom: 1px solid black; }
  .we .we_Contet {
    width: 475px;
    height: auto;
    border-top: 1px solid #158da5; }
    .we .we_Contet .ipsum {
      width: 240px;
      font-size: 11px;
      line-height: 13px;
      padding-left: 22px;
      border-right: 1px solid #158da5; }
    .we .we_Contet .ipsum_list {
      width: 211px;
      border-left: 1px solid #0f6678; }
  .we .ipsum h3 {
    margin: 11px 0 12px 0;
    text-decoration: underline; }
  .we .ipsum p {
    height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 13px; }
  .we .ipsum_list ul {
    width: 187px;
    margin: 17px 10px 0 14px; }
    .we .ipsum_list ul li {
      padding: 0 10px;
      background: #147d91;
      margin-bottom: 1px; }
      .we .ipsum_list ul li a {
        width: 167px;
        height: 22px;
        line-height: 22px;
        font-size: 11px;
        color: #93eeff;
        overflow: hidden;
        text-indent: 26px;
        text-overflow: ellipsis;
        background: url(../images/list_icon.gif) no-repeat 12px center; }
  .we .ipsum_list .btn {
    width: 62px;
    height: 13px;
    font-size: 8px;
    line-height: 13px;
    color: #53edff;
    text-align: center;
    margin: 11px 0 12px 14px;
    border: 1px solid #1fa5b5; }

.archive {
  margin-bottom: 2px;
  width: 240px;
  height: auto;
  border: 1px solid #0f7e95; }
  .archive .archive_title {
    background: url(../images/home_icon.gif) no-repeat 20px -34px;
    width: 240px;
    height: 34px;
    border-bottom: 1px solid black; }
  .archive .archive_Content {
    padding-bottom: 8px;
    width: 240px;
    height: auto;
    border-top: 1px solid #158da5; }
  .archive .scrollBar {
    height: 83px; }
    .archive .scrollBar .scrollBtn {
      height: 34px; }

.do {
  margin-right: 2px;
  width: 236px;
  height: auto;
  border: 1px solid #0f7e95; }
  .do .do_title {
    background: url(../images/home_icon.gif) no-repeat 20px -34px;
    width: 236px;
    height: 34px;
    border-bottom: 1px solid black; }
  .do .do_Contet {
    color: #b8d7dd;
    padding-left: 22px;
    padding-bottom: 8px;
    *padding-bottom: 4px;
    width: 214px;
    height: auto;
    border-top: 1px solid #158da5; }
    .do .do_Contet .odio {
      width: 194px; }
  .do h4 {
    font-size: 11px;
    line-height: 12px;
    margin-top: 10px; }
  .do p {
    width: 184px;
    height: 24px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 12px;
    margin-top: 10px; }
  .do ul {
    width: 184px;
    margin: 7px 0 3px 0;
    padding-right: 10px; }
    .do ul li {
      margin-bottom: 4px; }
      .do ul li a {
        width: 184px;
        height: 13px;
        line-height: 13px;
        font-size: 11px;
        overflow: hidden;
        color: #b8d7dd;
        text-overflow: ellipsis;
        text-indent: 12px;
        line-height: 13px;
        background: url(../images/list_icon.gif) no-repeat left center; }
  .do .scrollBar {
    height: 88px; }
    .do .scrollBar .scrollBtn {
      height: 34px; }

.workteam {
  width: 235px;
  height: auto;
  border: 1px solid #0f7e95; }
  .workteam .workteam_title {
    background: url(../images/home_icon.gif) no-repeat 20px -34px;
    width: 235px;
    height: 34px;
    border-bottom: 1px solid black; }
  .workteam .workteam_Contet {
    padding-top: 7px;
    padding-bottom: 4px;
    width: 235px;
    height: auto;
    border-top: 1px solid #158da5; }
  .workteam .workteam_img {
    width: 113px;
    padding-left: 12px; }
    .workteam .workteam_img img {
      width: 88px;
      height: 80px;
      padding: 5px;
      border: 1px solid #1d8c9f; }
  .workteam .workteam_info {
    font-size: 11px;
    line-height: 12px; }
    .workteam .workteam_info h3 {
      margin-top: 3px; }
    .workteam .workteam_info a {
      width: 88px;
      height: 24px;
      overflow: hidden;
      margin-top: 11px;
      text-overflow: ellipsis;
      text-decoration: underline; }

.principles {
  width: 240px;
  height: auto;
  border: 1px solid #0f7e95; }
  .principles .principles_title {
    background: url(../images/home_icon.gif) no-repeat 20px -34px;
    width: 240px;
    height: 34px;
    border-bottom: 1px solid black; }
  .principles .principles_Contet {
    font-size: 11px;
    padding-left: 22px;
    padding-bottom: 6px;
    padding-bottom: 5px\9\0;
    *padding-bottom: 7px;
    width: 218px;
    height: auto;
    border-top: 1px solid #158da5; }
    .principles .principles_Contet .principles_list {
      width: 186px;
      padding: 11px 12px 0 0; }
    .principles .principles_Contet p {
      height: 24px;
      line-height: 12px;
      overflow: hidden;
      text-overflow: ellipsis; }
  .principles ul li a {
    width: 186px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 14px;
    color: #93eeff;
    background: url(../images/list_icon.gif) no-repeat left center; }
  .principles .scrollBar {
    height: 88px; }
    .principles .scrollBar .scrollBtn {
      height: 34px; }

/*# sourceMappingURL=about.css.map */
