body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, strong, span, form, input, textarea, img, em, i, b {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

em {
  font-style: normal; }

img {
  border: none; }

input, textarea {
  border: none; }

body {
  font-size: 12px;
  font-family: Arial;
  color: white;
  width: 100%;
  background: #056477; }

.clearFix {
  zoom: 1; }
  .clearFix:after {
    content: " ";
    clear: both;
    display: block; }

.pull-left, #header .columnBar, #header ul li, .columnBar {
  float: left; }

.pull-right, #content .banner_desp .banner-btn {
  float: right; }

.absolute, #header .volumeBar .volumeBtn, #header .columnBar_list, #header .columnBar, #header ul li span, .services_list .scrollBar .scrollBtn, .volumeBar .volumeBtn, .columnBar_list, .columnBar {
  position: absolute; }

.relative, #header .music_play .play-column, #header .volumeBar, #header ul li, .services_list .scrollBar, .volumeBar {
  position: relative; }

.block, #content .banner_desp h3 strong, #content .banner_desp span, .services_list .scroll_list li a, .company_services ul li a {
  display: block; }

.inline-block, #header .top .today, #header .nav .logo, #header .music_play span, #header .start, #header .stop, #header .end, #header ul li a, .services_list .scrollBar, .services_list .scrollBar .scrollBtn, .end {
  display: inline-block; }

.outBorder {
  border: 1px solid #015060; }

.insetBorder {
  border: 1px solid #117a8f; }

.boxBorder {
  border: 1px solid #0f7e95; }

.color, #header ul li a {
  color: #2395ac; }

.btn-default {
  display: inline-block; }

.btn-block {
  display: block; }

.caret {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #82b0b9;
  border-bottom: none; }

.services_list .list_title, .company_services .company_services_title, .featured .featured_title {
  font-size: 10px;
  line-height: 34px;
  text-indent: 46px;
  font-weight: normal; }

.wrap {
  width: 722px;
  background: #056477;
  margin: 0 auto;
  padding: 0 22px; }

#header {
  border-top: 1px solid #dddddd;
  margin-bottom: 4px; }
  #header .top {
    height: 22px;
    margin-top: 39px;
    border-top: 1px solid #117a8f;
    border-bottom: 1px solid #015060; }
    #header .top .today {
      width: 509px;
      line-height: 22px;
      font-size: 10px;
      color: #2395ac;
      border-right: 1px solid #015060; }
    #header .top .music_play {
      width: 212px; }
  #header .nav {
    height: 63px;
    overflow: hidden;
    border-top: 1px solid #117a8f;
    border-bottom: 1px solid #21a1b7; }
    #header .nav ul {
      width: 436px;
      height: 28px;
      margin-top: 21px;
      background: #014a59; }
    #header .nav h1 {
      width: 286px;
      height: 26px;
      margin-top: 19px;
      line-height: 26px; }
    #header .nav .logo {
      line-height: 26px;
      text-indent: 43px;
      font-size: 24px;
      color: #56daf5;
      background: url(../images/logo.png) no-repeat 5px 0; }
  #header .music_play span {
    line-height: 22px; }
  #header .music_play .play-btn {
    width: 68px;
    height: 22px;
    border-left: 1px solid #117a8f;
    border-right: 1px solid #015060; }
  #header .music_play .play-volume {
    width: 80px;
    height: 22px;
    border-left: 1px solid #117a8f;
    border-right: 1px solid #015060; }
  #header .music_play .play-column {
    width: 59px;
    height: 22px;
    border-left: 1px solid #117a8f; }
  #header .play-btn {
    line-height: 22px; }
  #header .start {
    width: 4px;
    height: 7px;
    margin: 8px 0 0 18px;
    background: url(../images/play.gif) no-repeat 0 -14px; }
  #header .stop {
    width: 8px;
    height: 7px;
    margin: 8px 0 0 8px;
    background: url(../images/play.gif) no-repeat 0 -7px; }
  #header .end {
    width: 8px;
    height: 7px;
    margin: 8px 0 0 6px;
    background: url(../images/play.gif) no-repeat 0 0px; }
  #header .volumeBar {
    width: 60px;
    height: 1px;
    background: #0c9caa;
    top: 10px;
    left: 10px; }
    #header .volumeBar .volumeBtn {
      width: 4px;
      height: 11px;
      top: -5px;
      left: 28px;
      background: #0c9caa; }
  #header .columnBar_list {
    left: 14px;
    bottom: 4px; }
  #header .columnBar {
    width: 3px;
    background: #0c9caa;
    bottom: 0; }
    #header .columnBar:nth-of-type(1) {
      height: 5px;
      left: 0; }
    #header .columnBar:nth-of-type(2) {
      height: 9px;
      left: 4px; }
    #header .columnBar:nth-of-type(3) {
      height: 9px;
      left: 8px; }
    #header .columnBar:nth-of-type(4) {
      height: 3px;
      left: 12px; }
    #header .columnBar:nth-of-type(5) {
      height: 7px;
      left: 16px; }
    #header .columnBar:nth-of-type(6) {
      height: 11px;
      left: 20px; }
    #header .columnBar:nth-of-type(7) {
      height: 6px;
      left: 24px; }
  #header ul li {
    margin: 1px; }
    #header ul li a {
      width: 105px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      color: white;
      font-size: 8px;
      border: 1px solid #0e7d93; }
    #header ul li span {
      left: 14px;
      top: 11px; }
  #header .logo span {
    font-size: 16px;
    color: white; }
  #header .logo em {
    font-size: 24px; }

#content {
  padding-bottom: 13px;
  margin-bottom: 3px; }
  #content .banner {
    height: 229px;
    background: url(../images/banner_bg.gif) no-repeat -19px 0;
    border-bottom: 1px solid #21a1b7;
    margin-bottom: 3px; }
  #content .banner_desp {
    width: 335px;
    height: 229px;
    text-align: right;
    padding-right: 26px;
    background: -webkit-linear-gradient(left, none, #64b8ca);
    background: -moz-linear-gradient(left, none, #64b8ca);
    background: -ms-linear-gradient(left, none, #64b8ca);
    background: -o-linear-gradient(left, none, #64b8ca);
    background: -linear-gradient(left, none, #64b8ca); }
    #content .banner_desp h3 {
      font-size: 18px;
      color: white;
      margin-top: 40px;
      font-weight: normal; }
      #content .banner_desp h3 strong {
        font-weight: normal; }
    #content .banner_desp .line {
      height: 3px;
      width: 335px;
      margin-top: 4px;
      margin-bottom: 14px;
      background: -webkit-linear-gradient(left, #baebf4, #d2ebf0);
      background: -moz-linear-gradient(left, #baebf4, #d2ebf0);
      background: -ms-linear-gradient(left, #baebf4, #d2ebf0);
      background: -o-linear-gradient(left, #baebf4, #d2ebf0);
      background: -linear-gradient(left, #baebf4, #d2ebf0); }
    #content .banner_desp span {
      background: url(../images/banner_icon.gif) no-repeat 324px -17px;
      line-height: 15px;
      height: 15px;
      padding-right: 17px;
      color: #025e71; }
    #content .banner_desp .banner-btn {
      width: 79px;
      height: 17px;
      font-size: 10px;
      text-align: center;
      line-height: 17px;
      color: #deffff;
      margin-top: 12px;
      background: url(../images/banner_icon.gif) no-repeat 0 0; }

.bottom-box {
  height: 13px;
  border: 1px solid #158da5;
  border-top: none;
  border-shadow: inset 0 0 1px #0f6678; }

#footer {
  border-top: 1px solid #21a1b7;
  padding-bottom: 42px; }
  #footer .address {
    height: 30px;
    margin-top: 3px;
    line-height: 30px;
    text-align: center;
    background: #2190a2;
    font-size: 10px;
    color: #bddee3; }
    #footer .address a {
      color: #bddee3; }

.services_list .scrollBar {
  width: 10px;
  margin-top: 8px;
  border-left: 1px solid #095d6d;
  border-right: 1px solid #095d6d;
  border-top: 1px solid #108096;
  border-bottom: 1px solid #108096; }

.services_list .scrollBar .scrollBtn {
  width: 10px;
  left: 0px;
  top: 0px;
  background: #075767; }

#bgMusic {
  display: none; }

.end {
  width: 8px;
  height: 7px;
  margin: 8px 0 0 6px;
  background: url(../images/play.gif) no-repeat 0 0px; }

.volumeBar {
  width: 60px;
  height: 1px;
  background: #0c9caa;
  top: 10px;
  left: 10px; }
  .volumeBar .volumeBtn {
    width: 4px;
    height: 11px;
    top: -5px;
    left: 28px;
    cursor: pointer;
    background: #0c9caa; }

.columnBar_list {
  left: 14px;
  bottom: 4px; }

.columnBar {
  width: 3px;
  background: #0c9caa;
  bottom: 0; }
  .columnBar:nth-of-type(1) {
    height: 5px;
    left: 0; }
  .columnBar:nth-of-type(2) {
    height: 9px;
    left: 4px; }
  .columnBar:nth-of-type(3) {
    height: 9px;
    left: 8px; }
  .columnBar:nth-of-type(4) {
    height: 3px;
    left: 12px; }
  .columnBar:nth-of-type(5) {
    height: 7px;
    left: 16px; }
  .columnBar:nth-of-type(6) {
    height: 11px;
    left: 20px; }
  .columnBar:nth-of-type(7) {
    height: 6px;
    left: 24px; }

.services_list {
  width: 236px;
  height: auto;
  border: 1px solid #0f7e95; }
  .services_list .list_title {
    background: url(../images/home_icon.gif) no-repeat 20px -102px;
    width: 236px;
    height: 34px;
    border-bottom: 1px solid black; }
  .services_list .list_Content {
    padding-top: 11px;
    padding-bottom: 6px;
    *padding-bottom: 7px;
    width: 236px;
    height: auto;
    border-top: 1px solid #158da5; }
  .services_list .scroll_list {
    width: 202px;
    margin: 0 7px; }
    .services_list .scroll_list li {
      background: #147d91;
      padding: 0 10px 0 22px;
      margin-bottom: 1px; }
      .services_list .scroll_list li a {
        width: 170px;
        height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-indent: 12px;
        line-height: 22px;
        color: #93eeff;
        background: url(../images/list_icon.gif) no-repeat left center; }
  .services_list .scrollBar {
    height: 228px;
    margin-top: 0px; }
    .services_list .scrollBar .scrollBtn {
      height: 33px; }

.company_services {
  font-size: 11px;
  line-height: 12px;
  width: 480px;
  height: auto;
  border: 1px solid #0f7e95; }
  .company_services .company_services_title {
    background: url(../images/home_icon.gif) no-repeat 20px -102px;
    width: 480px;
    height: 34px;
    border-bottom: 1px solid black; }
  .company_services .company_services_Content {
    padding: 12px 0;
    *padding: 11px 0;
    width: 480px;
    height: auto;
    border-top: 1px solid #158da5; }
  .company_services ul {
    margin-top: 10px;
    *margin-top: 7px; }
    .company_services ul li a {
      width: 200px;
      height: 13px;
      line-height: 13px;
      overflow: hidden;
      color: #b8d7dd;
      text-overflow: ellipsis;
      text-indent: 12px;
      background: url(../images/list_icon.gif) no-repeat left center; }
  .company_services h4 {
    *font-size: 11px;
    *line-height: 12px;
    margin-top: 8px; }
  .company_services p {
    width: 108px;
    height: 24px;
    overflow: hidden;
    margin-top: 12px;
    text-overflow: ellipsis;
    text-decoration: underline; }
  .company_services img {
    width: 72px;
    height: 46px;
    padding: 5px;
    border: 1px solid #2193a5; }
  .company_services .btn {
    width: 62px;
    height: 13px;
    text-align: center;
    line-height: 13px;
    font-size: 8px;
    color: #53edff;
    margin-top: 5px;
    border: 1px solid #1fa5b5; }
  .company_services .manage_left {
    width: 229px;
    padding-left: 12px;
    border-right: 1px solid #158da5; }
  .company_services .risk_img {
    width: 96px; }
  .company_services .risk {
    width: 133px; }
  .company_services .manage_right {
    width: 218px;
    padding-left: 18px;
    border-left: 1px solid black; }
  .company_services .market_img {
    width: 98px; }
  .company_services .market_info {
    width: 120px; }

.featured {
  margin-top: 2px;
  width: 480px;
  height: auto;
  border: 1px solid #0f7e95; }
  .featured .featured_title {
    background: url(../images/home_icon.gif) no-repeat 20px -102px;
    width: 480px;
    height: 34px;
    border-bottom: 1px solid black; }
  .featured .featured_Content {
    padding-top: 15px;
    padding-bottom: 8px;
    *padding-bottom: 6px;
    width: 480px;
    height: auto;
    border-top: 1px solid #158da5; }
  .featured .featured_img {
    width: 96px;
    padding-left: 12px; }
    .featured .featured_img img {
      width: 72px;
      height: 38px;
      padding: 3px 5px;
      border: 1px solid #2193a5; }
  .featured .featured_desp {
    width: 372px;
    font-size: 11px;
    line-height: 12px; }
    .featured .featured_desp h4 {
      *font-size: 11px;
      *line-height: 12px;
      margin-top: 4px; }
    .featured .featured_desp p {
      height: 24px;
      text-decoration: underline;
      overflow: hidden;
      text-overflow: ellipsis; }

/*# sourceMappingURL=service.css.map */
